@import "../../../variables.scss";
@import "../../../mixins.scss";

@include focus-reset(".textarea");

.textareaContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textarea {
    width: 100%;
    max-width: 600px;
    min-height: 75px;
    border: 1px solid $color-gray-light;
    border-radius: 2px;
    padding: $spacing-x-small $spacing-medium;
    box-sizing: border-box;
    font-size: $font-size-larger;
    font-family: sans-serif;
    color: $color-black;

    &:focus-visible {
        box-shadow: $focus-shadow;
    }

    ::placeholder {
        font-size: $font-size-larger;
        color: $color-gray-light;
    }
}
