$color-black: #000000;
$color-gray-dark: #282828;
$color-gray: #a0a0a0;
$color-gray-light: #c3c3c3;
$color-white: #ffffff;
$color-blue: #3498db;
$color-red: #e74c3c;

$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-large: 24px;

$spacing-x-small: 4px;
$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 20px;
$spacing-x-large: 40;
